@media screen and (max-width: 1024px) {
    .score-frame__speed-box {
        width: 120px;
        height: 120px;
    }
    .score-frame__main-score {
        width: 205px;
        height: 40px;
        transform: translate(25%, 10%);
    }
    .score-frame__lives {
        width: 190px;
        height: 40px;
        padding-top: 5px;
        margin-top: 5px;
    }
    .index-frame {
        margin-top: -10px;
    }
    .index-frame__start {
        width: 220px;
        height: 55px;
        margin-right: 15px;
    }

    .index-frame__guide {
        width: 50px;
        height: 50px;
    }

    .index-frame__start-hov {
        width: 180px;
        height: 35px;
    }

    .index-frame__guide-hov {
        width: 30px;
        height: 30px;
    }
    
    .game-zone {
        max-width: 770px;
    }

    .game-zone__pipe {
        width: 210px;
        height: 150px;
    }
}

@media screen and (max-width: 850px) {
    .game-zone__pipe {
        width: 190px;
        height: 150px;
    }
    .game-zone {
        max-width: 670px;
    }
    .game-zone__pipe:nth-child(1) {
        transform: translate(10%, -20%);
    }
    .game-zone__pipe:nth-child(3) {
        transform: translate(-10%, -20%);
    }
}

@media screen and (max-width: 660px) {
    .score-frame__speed-box {
        width: 100px;
        height: 100px;
    }
    .score-frame__main-score {
        width: 180px;
        height: 30px;
    }
    .main-score__counter {
        font-size: 20px;
    }
    .score-frame__lives {
        width: 160px;
        height: 30px;
    }
    .index-frame {
        margin-top: -5px;
    }
    .index-frame__start {
        width: 180px;
        height: 50px;
    }
    .index-frame__start-hov {
        width: 150px;
        height: 35px;
    }
    .index-frame__guide-hov {
        width: 35px;
        height: 35px;
    }
    .game-zone__pipe {
        width: 165px;
        height: 120px;
    }
    .game-zone {
        max-width: 570px;
    }
}

@media screen and (max-width: 550px) {
    .index-frame {
        margin-top: 5px;
    }
    .score-frame__lives {
        width: 150px;
    }
    .score-frame__main-score {
        width: 160px;
    }
    .index-frame__start {
        width: 145px;
    }
    .index-frame__start-hov {
        width: 130px;
        font-size: 16px;
    }
    .game-zone__pipe {
        width: 130px;
        height: 110px;
    }
    .game-zone {
        max-width: 450px;
    }
}

@media screen and (max-width: 485px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 160px;
    }
    .index-frame {
        flex-direction: column;
        max-width: 105px;
    }
    .index-frame__start {
        margin-bottom: 5px;
    }
    .index-frame__guide {
        margin: 0 auto;
    }

    .game-zone {
        max-width: 390px;
    }
    .game-zone__pipe:nth-child(4) {
        transform: translateX(45%);
    }
    .game-zone__pipe:nth-child(5) {
        transform: translateX(-45%);
    }
    .game-zone__pipe:nth-child(4), 
    .game-zone__pipe:nth-child(5) {
        margin-top: 10px;
    }
    .game-zone__pipe:nth-child(1) {
        transform: translate(25%, -85%);
    }
    .game-zone__pipe:nth-child(3) {
        transform: translate(-15%, -85%);
    }
}

@media screen and (max-width: 410px) {
    .header {
        padding-left: 5px;
        padding-right: 5px;
    }
    .index-frame__start {
        width: 105px;
    }
    .index-frame__start-hov {
        width: 90px;
        font-size: 16px;
    }
    .index-frame__guide {
        width: 35px;
        height: 35px;
        
    }
    .index-frame__guide-hov {
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
    .game-zone__pipe {
        width: 110px;
        height: 100px;
    }
    .game-zone {
        max-width: 330px;
    }
    .game-zone__pipe:nth-child(4) {
        transform: translateX(25%);
    }
    .game-zone__pipe:nth-child(5) {
        transform: translateX(-25%);
    }
}
